*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(../img/jumbo.png);
    
}


/* Comincia Header */


header{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    min-height: 350px;  
}

header a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.testoheader{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.bottoniheader{
    text-align: center;
}

.bottoneheader1 {
    border-radius: 17px;
    background-color: white;
    border: none;
    width: 125px;
    height: 30px;
    margin-right: 10px;
}


.bottoneheader2{
    border-radius: 17px;
    background-color: black;
    color: white;
    border: none;
    width: 165px;
    height: 30px;
}


.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxed{
    
    max-width: 800px;
    margin:  auto;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxed1{
   min-width: 160px;
      
}

#nav{
    text-decoration: none;
    min-width: 480px;
    text-align: center;
    font-size: small;
    
}

.boxed3{
    min-width: 160px;
    text-align: end;    
}

.button1{
    border-radius: 17px;
    background-color: white;
    border: none;
}


.boxblu{
    min-height: 250px;
}


.flexcontainer7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
}

 #boxrosa{
    
    min-height: 200px;
    width: 500px;
    margin: auto;
      
    
} 








/* Comincia MAIN */





.boxedmain{
    min-height: 300px;
    background-color: white;
}


.flexcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px;
    

}


.rett1{
    width: 600px;
    min-height: 250px;
    text-align: center;
}

.imgmain{
    width: 60%;
}


.rett2{
    width: 300px;
    min-height: 250px;
    
}



.boxedmain2{
    min-height: 300px;
    background-color:#f6f6f6;

}


.flexcontainer2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 23px;
}


.boxmainfinale{
    min-height: 750px;
    background-color:#f6f6f6;
}

.flexcontainer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px;
}

.rettverde{
    width: 900px;
    min-height: 600px; 
    border: 1px dashed black;
    margin: auto;
    text-align: center;
}

.imgfinale{
    width: 80%;
}


.imgstars{
    width: 50%;
}

.bottonemain1{
    border-radius: 17px;
    background-color:#8ea1e1;
    border: none;
    width: 125px;
    height: 30px;
    color: white;
}








/* Comincia Footer */




.boxfooter{
    min-height: 350px;
    background-color: #23272a;
    
}

.flexcontainer4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    
}


.boxfooter1{
    width: 300px;
    min-height: 310px;
    background-color: #f08080;
    border: 1px dashed black;
}

.boxfooter2{
    width: 150px;
    min-height:  310px; 
    background-color: #20b2aa;
    border: 1px dashed white;
}
.boxfooter3{
    width: 150px;
    min-height:  310px; 
    background-color: #20b2aa;
    border: 1px dashed white;
}
.boxfooter4{
    width: 150px;
    min-height:  310px; 
    background-color: #20b2aa;
    border: 1px dashed white;
}
.boxfooter5{
    width: 150px;
    min-height:  310px; 
    background-color: #20b2aa;
    border: 1px dashed white;
}


.boxfooter6{
    height: 60px;
    background-color: #23272a;
}

.boxsecondario{
    width: 900px;
    min-height: 40px;
    background-color: #7fffda;
    margin: auto;
    
}

.flexcontainer5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}


.flexcontainer6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.logo{
    min-width: 20px;
    background-color: #ffb6c1;
    margin-top: 11px;
    border: 1px dashed black;

}


.bottone{
    min-width: 30px;
    background-color: #ffb6c1;
    margin-top: 11px;
    border: 1px dashed black;

}